.about {
  padding-bottom: 42px;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #fff;
    padding: 37px 0;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.068);
    border-radius: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 36.5px;
    min-height: 125.7px;
    &:nth-child(2) {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }
  }
  &__title {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: calc(30 / 25);
  }
  &__desc {
    font-size: 20px;
    line-height: calc(30 / 20);
  }
}
