.features {
  //   margin-top: 53px;

  &__container {
    @include flex(flex-end, flex-end, nowrap, row);
    position: relative;
    padding-bottom: 130px;
  }
  &__content {
    padding-top: 107px;
  }
  &__img {
    position: absolute;
    left: 0;
  }
  &__title {
    max-width: 383px;
  }
  &__desc {
    max-width: 430px;
    margin-bottom: 20px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    @include flex(flex-start, center, nowrap, row);
    margin-bottom: 15px;
    font-size: 14px;
  }
  .icon {
    margin-right: 10px;
  }
}
